.gallery-detail {
  z-index: 999;
  position: fixed;
  overflow: hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  max-width: 1024px;
  animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.gallery-detail.out {
  animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes moveUp {
  /* 하단에서 */ 0% { transform: translateY(100vh); } /* 중앙으로 위치 */ 100% { transform: translateY(0); }
}

@keyframes moveDown {
  /* 하단에서 */ 0% { transform: translateY(0); } /* 중앙으로 위치 */ 100% { transform: translateY(100vh); }
}

.gallery-detail > .head {
  display: flex;
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  height: 114px;
  background: white;
  border-bottom: 1px solid #301E1B;
}

.gallery-detail > .head > .title {
  padding-top: 60px;
  justify-content: center;
  text-align: center;
  font: normal normal bold 21px/30px Noto Serif KR;
  letter-spacing: 0px;
  color: #301E1B;
  opacity: 1;
}

.gallery-detail > .head > .title > p {
  margin : 0;
}

.gallery-detail > .head > .icon-delete {
  display: inline;
  position: absolute;
  top:44px;
  right:16px;
}

.gallery-detail > .body {
  padding-top: 114px;
  margin-bottom: 80px;
}

.gallery-detail > .body > img {
  padding-top:40px;
  width: 100%;
}