.title {
  /* margin: 30%, 16px, 10%, 16px; */
  margin-top: 13%;
  margin-bottom: 10%;
  margin-left: 16px;
  margin-right: 16px;
  left: 16px;
  width: 343px;
  height: 184px;
  text-align: left;
  font: normal normal 800 64px/92px Noto Serif KR;
  letter-spacing: 0px;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.background {
  width: 100%;
  height: 100%;
  max-width: 568px;
  background: transparent url("../../img/img_bg.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
